# temporary files, log files
*.cache
*.class
*.log

# intermediate, compile files
target/
lib_managed/

.scala-build/
.bsp/

# visual code
.bloop/
.metals/
metals.sbt
.vscode/

# intellij idea
*.iml
*.ipr
*.iws
.idea

# virtual machine crash logs
hs_err_pid*

# test files
worker/src/test/withoutNetworkTestFiles/worker1/
worker/src/test/withoutNetworkTestFiles/worker2/
worker/src/test/withoutNetworkTestFiles/worker3/
worker/src/test/withoutNetworkTestFiles/worker4/
worker/src/test/withoutNetworkTestFiles/worker5/
worker/src/test/withoutNetworkTestFiles/worker6/
worker/src/test/withoutNetworkTestFiles/worker7/
worker/src/test/withoutNetworkTestFiles/worker8/
worker/src/test/withoutNetworkTestFiles/worker9/
worker/src/test/withoutNetworkTestFiles/worker10/
worker/src/test/withoutNetworkTestFiles/mergedFile

